@page
@model EditedBookList.Pages.BooksView.CreateModel
@{
}

<div class="Container">
    <form method="post">
        <div class="form-group">
            <label asp-for="Book.Name">Book Name</label>
            <input type="text" asp-validation-for="Name" asp-for="Book.Name" class="form-control" value="" />
        </div>
        <div class="form-group">
            <label asp-for="Book.Author">Book Author</label>
            <input type="text" asp-for="Book.Author" class="form-control" value="" />
        </div>
        <div class="form-groub"><input type="submit" value="Submit Book" /></div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
